# =================        NOT NEED        ================= #
.idea
node_modules
build
package

# ================= mistake commit prevent ================= #
# test bot config
test/config.json

# source js
src/**/*.js
src/**/*.map

# test js
test/**/*.js
test/**/*.map

# ignore test bot
dev/**/*