# =================        NOT NEED        ================= #
.idea
.vscode
node_modules
build
/dev/build
package
yarn-error.log

# ================= mistake commit prevent ================= #
# test bot config
dev/config.json

# source js
src/**/*.js
src/**/*.map

# test js
test/**/*.js
test/**/*.map