DISCORD_CLIENT_ID=924593201111793675
DISCORD_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173
ADMIN_DISCORD_ID=
TELEMETRY_TOKEN=
DATABASE_PATH=./data/telemetry.db
PPLX_API_KEY=
PBOT_DB_PATH=../pbot/data/pbot.db
